*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  border: 0;
  font-size: inherit;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--theme-color-not);
  user-select: none;
}

html,
body {
  background-color: var(--main-color-dark);
  margin: 0;
  height: 100%;
  font-size: var(--font-size);
}

.animation *,
.animation *::before,
.animation *::after {
  transition: all 0.3s ease;
}

.full_con {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color-dark);
  padding: var(--padding-small);
  transform: translateY(0);
}

.full_con.hide {
  transform: translateY(100%);
  opacity: 1;
}

/* sizes */
.w_100 {
  width: 100% !important;
}

.h_100 {
  height: 100% !important;
}

.w_max {
  width: max-content !important;
}

.h_max {
  height: max-content !important;
}

/* scroll */
.scroll_v {
  overflow: hidden auto;
}

.scroll_v::-webkit-scrollbar {
  width: 5px;
  border-radius: var(--border-ra);
  background-color: var(--theme-color-not);
}

.scroll_v::-webkit-scrollbar-thumb {
  border-radius: var(--border-ra);
  border: var(--border);
  border-color: var(--green-dark);
}

.scroll_h {
  overflow: auto hidden;
}

.scroll_h::-webkit-scrollbar {
  height: 5px;
  border-radius: var(--border-ra);
  background-color: var(--theme-color-not);
}

.scroll_h::-webkit-scrollbar-thumb {
  border-radius: var(--border-ra);
  border: var(--border);
  border-color: var(--green-dark);
}

/* loader */
.loader_area {
  position: relative;
  overflow: hidden;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--gray-dark);
}

.loader:hover {
  background-color: var(--gray-dark) !important;
}

.loader_area.hide_l .loader::after {
  animation-play-state: paused;
}

.loader::before {
  content: var(--loader-txt);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + var(--loader-normal-size)));
  max-width: calc(100% - 2 * var(--padding));
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.loader::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: var(--loader-min-size);
  min-height: var(--loader-min-size);
  width: var(--loader-normal-size);
  height: var(--loader-normal-size);
  max-width: var(--loader-max-size);
  max-height: var(--loader-max-size);
  border: var(--border);
  border-radius: 50%;
  border-top: none;
  border-right: none;
  border-width: 3px;
  border-color: var(--green-dark);
  animation: loaderAnim 0.4s ease-in infinite;
}

@keyframes loaderAnim {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* lists */
.list_v,
.list_v_big {
  display: flex;
  flex-direction: column;
}

.list_v > div:not(:last-child) {
  margin-bottom: var(--margin-small);
}

.list_v_big > div:not(:last-child) {
  margin-bottom: var(--margin);
}

.list_h,
.list_h_big {
  display: flex;
}

.list_h > div:not(:last-child) {
  margin-right: var(--margin-small);
}

.list_h_big > div:not(:last-child) {
  margin-right: var(--margin);
}

/* displays */
.df {
  display: flex;
}

.df_ai_ce {
  display: flex;
  align-items: center;
}

.df_ai_b {
  display: flex;
  align-items: baseline;
}

.df_jc_sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.df_jc_sa {
  display: flex;
  justify-content: space-around;
}

.df_ai_jc_ce {
  display: flex;
  align-items: center;
  justify-content: center;
}

.df_fd_c {
  display: flex;
  flex-direction: column;
}

.df_fw_w {
  display: flex;
  flex-wrap: wrap;
}

.df_fd_r {
  display: flex;
  flex-direction: row;
}

:root {
  /* blur */
  --blur: 20px;
  /* font */
  --font-size: 16px;
  --font-size-small: 12px;
  --icon-fz-size: 20px;
  /* size */
  --l-spinner-size: 100px;
  --icon-size: 30px;
  /* border */
  --border: 2px solid var(--gray-dark);
  --border-size: 2px;
  --border-ra: 12px;
  --border-ra-big: 18px;
  --border-ra-small: 8px;
  --border-ra-small-very: 4px;
  /* margin v padding */
  --margin: 12px;
  --margin-small: 8px;
  --margin-small-very: 4px;
  --margin-big: 20px;
  --padding: 12px;
  --padding-small: 8px;
  --padding-small-very: 4px;
  --padding-big: 20px;
  /* opacity */
  --opacity: 0.7;
}

/* themes */
@media (prefers-color-scheme: dark) {
  :root {
    /* theme color */
    --theme-color: #000;
    --theme-color-opacity: #000a;
    --theme-color-not: #fff;
    /* main colors */
    --main-color: #6399aa;
    --main-color-light: #2b527d;
    --main-color-dark: #2969b6;
    --main-color-opacity: #6399aa99;
    /* pink */
    --pink: #aa63a2;
    --pink-light: #7d2b77;
    --pink-dark: #b629ad;
    --pink-opacity: #aa63a999;
    /* gray */
    --gray: #858585;
    --gray-light: #979797;
    --gray-dark: #424242;
    --gray-opacity: #424242aa;
    /* other colors */
    --selection-color: #566f99;
    --lines-color: #bbb;
    --scrollbar-thumb-color: #186e8a;
    --active-color: #5f5ff4;
    /* color */
    --error-color: #da3a3a;
    --warning-color: #b3bd2e;
    --success-color: #349225;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /* theme color */
    --theme-color: #fff;
    --theme-color-not: #000;
    /* main color */
    --main-color: #a9c2fb;
    --main-color-light: #f2f6ff;
    --main-color-dark: #326add;
    /* gray */
    --gray: #858585;
    --gray-light: #555555;
    --gray-dark: #ececec;
    --gray-opacity: #424242aa;
    /* other colors */
    --selection-color: #a0c2f4;
    --lines-color: #666;
    --scrollbar-thumb-color: #7483a0;
    /* error */
    --error-color: #dd5151;
    --warning-color: #b3bd2e;
    --success-color: #349225;
  }
}
