/* sizes */
.w_100 {
  width: 100% !important;
}

.h_100 {
  height: 100% !important;
}

.w_0 {
  width: 0 !important;
}

.h_0 {
  height: 0 !important;
}

.w_max {
  width: max-content !important;
}

.h_max {
  height: max-content !important;
}
